<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" *ngIf="showMenu()">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand me-4 d-flex align-items-center" routerLink="/dashboard">
      <i class="fa fa-users mb-2"></i> 
    </a>

    <!-- Menu Toggle Button (Canto direito em telas pequenas) -->
    <button class="navbar-toggler ms-auto" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> <!-- Ajuste para que os itens fiquem alinhados à esquerda -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/eventos/lista">Eventos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/palestrantes">Palestrantes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contatos">Contatos</a>
        </li>
      </ul>

      <!-- Login dentro do menu (visível em telas pequenas) -->
      <ul class="navbar-nav d-lg-none"> <!-- Visível apenas em telas pequenas -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" 
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/perfil">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sair</a></li>
          </ul>
        </li>
      </ul>

      <!-- Login no canto superior direito (visível em telas grandes) -->
      <ul class="navbar-nav d-none d-lg-flex ms-auto"> <!-- Visível apenas em telas grandes -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" 
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/user/perfil">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/user/login">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
